In [1]:
f=0 #변수 선언
try: #try - catch - finally 문 실행
    f=open("LICENSE.txt","rt") #LICENSE.txt 명의 텍스트 파일 읽기모드로 열고, 인스턴스f에 담기.
    while True: #무한 루프
        r=f.readline() #readline은 라인을 읽는데 이 코드를 변수 r에 담아 구조화
        if not r: #만약 읽을 라인이 없어지면
            break #멈춤
        print(r) 
except FileNotFoundError: #파일이 없는 에러를 예외처리로, 이떄 파일 없음을 프린트.
    print("파일없음")
finally: #맨 마지막에 finally블록을 실행
    if(f):
        f.close() #오픈 했으니 닫아주기
    print("프로그램 끝")

파일없음
프로그램 끝

In [25]:
import random #난수 모듈 random을 import

f=0 #빈 변수 선언
f=open("score.txt","wt") #score.txt로 파일명 지정, write + textfile = wt
for i in range(100): #0부터 99까지 i에 입력하는 for문 작성
    
    one_person="홍길동"+str(i)+","+str(random.randrange(0,100))+","+str(random.randrange(0,100)) 
    +","+str(random.randrange(0,100))+"\n"
    #홍길동+번호, 범위랜덤함수 randomrange로 성적을 랜덤하게 받고 변수one_person에 저장한다.
    f.write(one_person) #위 값이 저장된 변수를 한줄씩 쓴다.
    print(one_person) #값 출력
f.close() #파일 작성 종료

홍길동0,47,62,32

홍길동1,28,14,18

홍길동2,5,28,79

홍길동3,70,55,36

홍길동4,67,40,50

홍길동5,42,91,47

홍길동6,45,75,6

홍길동7,8,47,7

홍길동8,27,76,60

홍길동9,78,62,1

홍길동10,44,53,1

홍길동11,70,19,54

홍길동12,14,52,44

홍길동13,77,99,11

홍길동14,71,25,57

홍길동15,74,1,3

홍길동16,20,56,36

홍길동17,39,0,2

홍길동18,92,51,1

홍길동19,56,69,99

홍길동20,57,18,89

홍길동21,49,29,73

홍길동22,21,23,8

홍길동23,48,47,50

홍길동24,29,21,76

홍길동25,73,43,28

홍길동26,13,71,82

홍길동27,49,8,99

홍길동28,10,8,79

홍길동29,12,48,37

홍길동30,44,39,53

홍길동31,25,41,54

홍길동32,79,22,43

홍길동33,44,62,23

홍길동34,84,94,14

홍길동35,18,96,49

홍길동36,24,41,0

홍길동37,8,84,17

홍길동38,39,43,82

홍길동39,25,39,30

홍길동40,66,63,45

홍길동41,49,66,32

홍길동42,98,75,81

홍길동43,77,6,53

홍길동44,37,26,44

홍길동45,55,95,71

홍길동46,78,66,64

홍길동47,19,25,23

홍길동48,70,32,43

홍길동49,45,28,14

홍길동50,61,23,53

홍길동51,88,82,73

홍길동52,60,27,66

홍길동53,9,19,15

홍길동54,97,57,56

홍길동55,91,10,26

홍길동56,66,49,13

홍길동57,75,61,99

홍길동58,19,91,67

홍길동59,48,56,75

홍길동60,9,56,60

홍길동61,1,60,26

홍길동62,76,44,76

홍길동63,99,89,32

홍길동64,25,9,41

홍길동65,47,1,54

홍길동66,28,13,46

홍길동67,7,46,19

홍길동68,2,26,55

홍길동69,5,18,38

홍길동70,10,43,35

홍길동71,77,65,67

홍길동72,17,33,17

홍길동73,26,97,67

홍길동74,51,25,47

홍길동75,37,3,64

홍길동76,6,22,56

홍길동77,29,19,59

홍길동78,7,47,98

홍길동79,71,92,40

홍길동80,5,9,98

홍길동81,54,9,42

홍길동82,38,68,63

홍길동83,67,36,88

홍길동84,45,79,80

홍길동85,92,71,0

홍길동86,10,15,65

홍길동87,71,4,44

홍길동88,82,45,83

홍길동89,24,13,25

홍길동90,23,36,80

홍길동91,84,99,34

홍길동92,17,56,15

홍길동93,81,8,99

홍길동94,81,44,7

홍길동95,99,3,9

홍길동96,64,43,0

홍길동97,40,40,90

홍길동98,29,51,90

홍길동99,76,61,14

In [26]:
f=0 # 빈 변수 선언
f=open("score.txt","rt") #위에서 생성한 파일 읽어오기, read + textfile = rt
while True: #무한루프 만들기
    one_person=f.readline() #한 줄씩 읽어온 데이터를 변수에 담아 구조화
    if not one_person:  #읽을 내용이 없으면 
        break #제어문 브레이크로 루프를 나온다.
    one_person=one_person.replace("\n","") #줄 바꿈 이스케이프 시퀀스를 replace로 없애기
    item=one_person.split(",") #콤마를 기준으로 split메소드 적용하여 자르기.
    print("="*15) #구분선 출력
    print("이름: ", item[0]) #읽어온 파일에서 이름 출력
    print("국어: ", item[1]) #국어 출력
    print("영어: ", item[2]) #영어 출력
    print("수학: ", item[3]) #학 출력
    print("="*15) #줄긋기
f.close() #파일 읽기 종료

===============
이름:  홍길동0
국어:  47
영어:  62
수학:  32
===============
===============
이름:  홍길동1
국어:  28
영어:  14
수학:  18
===============
===============
이름:  홍길동2
국어:  5
영어:  28
수학:  79
===============
===============
이름:  홍길동3
국어:  70
영어:  55
수학:  36
===============
===============
이름:  홍길동4
국어:  67
영어:  40
수학:  50
===============
===============
이름:  홍길동5
국어:  42
영어:  91
수학:  47
===============
===============
이름:  홍길동6
국어:  45
영어:  75
수학:  6
===============
===============
이름:  홍길동7
국어:  8
영어:  47
수학:  7
===============
===============
이름:  홍길동8
국어:  27
영어:  76
수학:  60
===============
===============
이름:  홍길동9
국어:  78
영어:  62
수학:  1
===============
===============
이름:  홍길동10
국어:  44
영어:  53
수학:  1
===============
===============
이름:  홍길동11
국어:  70
영어:  19
수학:  54
===============
===============
이름:  홍길동12
국어:  14
영어:  52
수학:  44
===============
===============
이름:  홍길동13
국어:  77
영어:  99
수학:  11
===============
===============
이름:  홍길동14
국어:  71
영어:  25
수학:  57
===============
===============
이름:  홍길동15
국어:  74
영어:  1
수학:  3
===============
===============
이름:  홍길동16
국어:  20
영어:  56
수학:  36
===============
===============
이름:  홍길동17
국어:  39
영어:  0
수학:  2
===============
===============
이름:  홍길동18
국어:  92
영어:  51
수학:  1
===============
===============
이름:  홍길동19
국어:  56
영어:  69
수학:  99
===============
===============
이름:  홍길동20
국어:  57
영어:  18
수학:  89
===============
===============
이름:  홍길동21
국어:  49
영어:  29
수학:  73
===============
===============
이름:  홍길동22
국어:  21
영어:  23
수학:  8
===============
===============
이름:  홍길동23
국어:  48
영어:  47
수학:  50
===============
===============
이름:  홍길동24
국어:  29
영어:  21
수학:  76
===============
===============
이름:  홍길동25
국어:  73
영어:  43
수학:  28
===============
===============
이름:  홍길동26
국어:  13
영어:  71
수학:  82
===============
===============
이름:  홍길동27
국어:  49
영어:  8
수학:  99
===============
===============
이름:  홍길동28
국어:  10
영어:  8
수학:  79
===============
===============
이름:  홍길동29
국어:  12
영어:  48
수학:  37
===============
===============
이름:  홍길동30
국어:  44
영어:  39
수학:  53
===============
===============
이름:  홍길동31
국어:  25
영어:  41
수학:  54
===============
===============
이름:  홍길동32
국어:  79
영어:  22
수학:  43
===============
===============
이름:  홍길동33
국어:  44
영어:  62
수학:  23
===============
===============
이름:  홍길동34
국어:  84
영어:  94
수학:  14
===============
===============
이름:  홍길동35
국어:  18
영어:  96
수학:  49
===============
===============
이름:  홍길동36
국어:  24
영어:  41
수학:  0
===============
===============
이름:  홍길동37
국어:  8
영어:  84
수학:  17
===============
===============
이름:  홍길동38
국어:  39
영어:  43
수학:  82
===============
===============
이름:  홍길동39
국어:  25
영어:  39
수학:  30
===============
===============
이름:  홍길동40
국어:  66
영어:  63
수학:  45
===============
===============
이름:  홍길동41
국어:  49
영어:  66
수학:  32
===============
===============
이름:  홍길동42
국어:  98
영어:  75
수학:  81
===============
===============
이름:  홍길동43
국어:  77
영어:  6
수학:  53
===============
===============
이름:  홍길동44
국어:  37
영어:  26
수학:  44
===============
===============
이름:  홍길동45
국어:  55
영어:  95
수학:  71
===============
===============
이름:  홍길동46
국어:  78
영어:  66
수학:  64
===============
===============
이름:  홍길동47
국어:  19
영어:  25
수학:  23
===============
===============
이름:  홍길동48
국어:  70
영어:  32
수학:  43
===============
===============
이름:  홍길동49
국어:  45
영어:  28
수학:  14
===============
===============
이름:  홍길동50
국어:  61
영어:  23
수학:  53
===============
===============
이름:  홍길동51
국어:  88
영어:  82
수학:  73
===============
===============
이름:  홍길동52
국어:  60
영어:  27
수학:  66
===============
===============
이름:  홍길동53
국어:  9
영어:  19
수학:  15
===============
===============
이름:  홍길동54
국어:  97
영어:  57
수학:  56
===============
===============
이름:  홍길동55
국어:  91
영어:  10
수학:  26
===============
===============
이름:  홍길동56
국어:  66
영어:  49
수학:  13
===============
===============
이름:  홍길동57
국어:  75
영어:  61
수학:  99
===============
===============
이름:  홍길동58
국어:  19
영어:  91
수학:  67
===============
===============
이름:  홍길동59
국어:  48
영어:  56
수학:  75
===============
===============
이름:  홍길동60
국어:  9
영어:  56
수학:  60
===============
===============
이름:  홍길동61
국어:  1
영어:  60
수학:  26
===============
===============
이름:  홍길동62
국어:  76
영어:  44
수학:  76
===============
===============
이름:  홍길동63
국어:  99
영어:  89
수학:  32
===============
===============
이름:  홍길동64
국어:  25
영어:  9
수학:  41
===============
===============
이름:  홍길동65
국어:  47
영어:  1
수학:  54
===============
===============
이름:  홍길동66
국어:  28
영어:  13
수학:  46
===============
===============
이름:  홍길동67
국어:  7
영어:  46
수학:  19
===============
===============
이름:  홍길동68
국어:  2
영어:  26
수학:  55
===============
===============
이름:  홍길동69
국어:  5
영어:  18
수학:  38
===============
===============
이름:  홍길동70
국어:  10
영어:  43
수학:  35
===============
===============
이름:  홍길동71
국어:  77
영어:  65
수학:  67
===============
===============
이름:  홍길동72
국어:  17
영어:  33
수학:  17
===============
===============
이름:  홍길동73
국어:  26
영어:  97
수학:  67
===============
===============
이름:  홍길동74
국어:  51
영어:  25
수학:  47
===============
===============
이름:  홍길동75
국어:  37
영어:  3
수학:  64
===============
===============
이름:  홍길동76
국어:  6
영어:  22
수학:  56
===============
===============
이름:  홍길동77
국어:  29
영어:  19
수학:  59
===============
===============
이름:  홍길동78
국어:  7
영어:  47
수학:  98
===============
===============
이름:  홍길동79
국어:  71
영어:  92
수학:  40
===============
===============
이름:  홍길동80
국어:  5
영어:  9
수학:  98
===============
===============
이름:  홍길동81
국어:  54
영어:  9
수학:  42
===============
===============
이름:  홍길동82
국어:  38
영어:  68
수학:  63
===============
===============
이름:  홍길동83
국어:  67
영어:  36
수학:  88
===============
===============
이름:  홍길동84
국어:  45
영어:  79
수학:  80
===============
===============
이름:  홍길동85
국어:  92
영어:  71
수학:  0
===============
===============
이름:  홍길동86
국어:  10
영어:  15
수학:  65
===============
===============
이름:  홍길동87
국어:  71
영어:  4
수학:  44
===============
===============
이름:  홍길동88
국어:  82
영어:  45
수학:  83
===============
===============
이름:  홍길동89
국어:  24
영어:  13
수학:  25
===============
===============
이름:  홍길동90
국어:  23
영어:  36
수학:  80
===============
===============
이름:  홍길동91
국어:  84
영어:  99
수학:  34
===============
===============
이름:  홍길동92
국어:  17
영어:  56
수학:  15
===============
===============
이름:  홍길동93
국어:  81
영어:  8
수학:  99
===============
===============
이름:  홍길동94
국어:  81
영어:  44
수학:  7
===============
===============
이름:  홍길동95
국어:  99
영어:  3
수학:  9
===============
===============
이름:  홍길동96
국어:  64
영어:  43
수학:  0
===============
===============
이름:  홍길동97
국어:  40
영어:  40
수학:  90
===============
===============
이름:  홍길동98
국어:  29
영어:  51
수학:  90
===============
===============
이름:  홍길동99
국어:  76
영어:  61
수학:  14
===============

In [39]:
import sqlite3 #db를 다루기 위해 sqlite3를 import하기.

In [45]:
conn = sqlite3.connect("exam.db", isolation_level=None) #DB생성, 오토커밋 설정해주기

In [46]:
c = conn.cursor() #커서 획득
#파이썬에서 파일을 읽고 쓰려면 커서를 가져와야 한다.

In [57]:
c.execute("CREATE TABLE IF NOT EXISTS examtable \
    (name text, id integer PRIMARY KEY, kor integer, eng integer, mat integer)")
# "테이블 이름이라는 테이블이 없으면 테이블을 생성해라”라는 의미

In [59]:
c.execute("drop table examtable") #execute실행문 쿼리에 테이블 삭제 명령 내리기.

In [61]:
c.execute("CREATE TABLE IF NOT EXISTS examtable \
    (name text, id integer NOT NULL PRIMARY KEY, kor integer, eng integer, mat integer)")
# "테이블 이름이라는 테이블이 없으면 테이블을 생성해라”라는 의미

In [76]:
c.execute("DELETE FROM table1 WHERE id=?", (20990001,))

In [77]:
for row in c.execute('SELECT * FROM table1'):
    print(row) #db내용 확인

In [82]:
c.execute("INSERT INTO examtable \
    VALUES('나연',2099001, 95, 100 ,95)");
c.execute("SELECT * FROM examtable")  #execute통해서 examtable에 해당 values를 insert한다.
#examtable에 있는 모든 데이터를 셀렉트 한다.(셀렉트 하기만 할 뿐)

In [83]:
c.execute("INSERT INTO examtable \
    VALUES('정연',2099002, 95, 95, 95)");
c.execute("SELECT * FROM examtable")

In [84]:
c.execute("INSERT INTO examtable \
    VALUES('모모',2099003, 100, 100, 100)");
c.execute("SELECT * FROM examtable")

In [85]:
c.execute("INSERT INTO examtable \
    VALUES('사나',2099004, 100, 95, 90)");
c.execute("SELECT * FROM examtable")

In [86]:
c.execute("INSERT INTO examtable \
    VALUES('지효',2099005, 80, 100, 70)");
c.execute("SELECT * FROM examtable")

In [87]:
c.execute("INSERT INTO examtable \
    VALUES('미나',2099006, 100, 100, 70)");
c.execute("SELECT * FROM examtable")

In [88]:
c.execute("INSERT INTO examtable \
    VALUES('다현',2099007, 70, 70, 70)");
c.execute("SELECT * FROM examtable")

In [89]:
c.execute("INSERT INTO examtable \
    VALUES('채영',2099008, 80, 90, 80)");
c.execute("SELECT * FROM examtable")

In [90]:
c.execute("INSERT INTO examtable \
    VALUES('쯔위',2099009, 60, 100, 80)");
c.execute("SELECT * FROM examtable")

In [91]:
c.execute("SELECT * FROM examtable") #전체를 셀렉트하고
print(c.fetchall()) #fetch 가져오다.

[('나연', 1, 95, 100, 95), ('나연', 2099001, 95, 100, 95), ('정연', 2099002, 95, 95, 95), ('모모', 2099003, 100, 100, 100), ('사나', 2099004, 100, 95, 90), ('지효', 2099005, 80, 100, 70), ('미나', 2099006, 100, 100, 70), ('다현', 2099007, 70, 70, 70), ('채영', 2099008, 80, 90, 80), ('쯔위', 2099009, 60, 100, 80), ('나연', 20990001, 95, 100, 95)]

In [100]:
c.execute("SELECT * FROM examtable WHERE name='다현'"); #name값이 다현인 데이터를 가져와 프린트하기
print(c.fetchone())

('다현', 2099007, 70, 70, 70)

In [102]:
c.execute("SELECT * FROM examtable WHERE id>209902"); #id값이 209902보다 큰 데이터 프린트하기
print(c.fetchall())

[('나연', 2099001, 95, 100, 95), ('정연', 2099002, 95, 95, 95), ('모모', 2099003, 100, 100, 100), ('사나', 2099004, 100, 95, 90), ('지효', 2099005, 80, 100, 70), ('미나', 2099006, 100, 100, 70), ('다현', 2099007, 70, 70, 70), ('채영', 2099008, 80, 90, 80), ('쯔위', 2099009, 60, 100, 80), ('나연', 20990001, 95, 100, 95)]

In [103]:
c.execute("SELECT * FROM examtable WHERE mat<95"); #mat값이 95보다 작은 데이터 선택 및 프린트
print(c.fetchall())

[('사나', 2099004, 100, 95, 90), ('지효', 2099005, 80, 100, 70), ('미나', 2099006, 100, 100, 70), ('다현', 2099007, 70, 70, 70), ('채영', 2099008, 80, 90, 80), ('쯔위', 2099009, 60, 100, 80)]

In [104]:
c.execute("SELECT * FROM examtable WHERE mat>95 and eng>95"); 
print(c.fetchall())
#mat값이 95보다 '크면서' eng값이 95보다 큰 데이터들 선택 및 프린트

[('모모', 2099003, 100, 100, 100)]

In [105]:
c.execute("SELECT * FROM examtable WHERE mat>95 or eng>95"); 
print(c.fetchall())
#mat값이 95보다 '크거나' eng값이 95보다 큰 데이터들 선택 및 프린트

[('나연', 1, 95, 100, 95), ('나연', 2099001, 95, 100, 95), ('모모', 2099003, 100, 100, 100), ('지효', 2099005, 80, 100, 70), ('미나', 2099006, 100, 100, 70), ('쯔위', 2099009, 60, 100, 80), ('나연', 20990001, 95, 100, 95)]

In [111]:
c.execute("UPDATE examtable SET eng=95, mat=91 WHERE name='다현'")
c.execute("SELECT * FROM examtable WHERE name='다현'")
print(c.fetchall())
#name이 다현인 데이터의 eng과 mat값을 수정함. 다시 셀렉트하고 출력하여 변경 값 확인.

[('다현', 2099007, 70, 95, 91)]

In [113]:
c.execute("UPDATE examtable SET eng=95, mat=91")
c.execute("SELECT * FROM examtable")
print(c.fetchall())
#모든 데이터의 eng과 mat값을 95, 91로 업데이트하고 모두 재출력하여 변경 확인.

[('나연', 1, 95, 95, 91), ('나연', 2099001, 95, 95, 91), ('정연', 2099002, 95, 95, 91), ('모모', 2099003, 100, 95, 91), ('사나', 2099004, 100, 95, 91), ('지효', 2099005, 80, 95, 91), ('미나', 2099006, 100, 95, 91), ('다현', 2099007, 70, 95, 91), ('채영', 2099008, 80, 95, 91), ('쯔위', 2099009, 60, 95, 91), ('나연', 20990001, 95, 95, 91)]

In [114]:
c.execute("DELETE FROM examtable WHERE name='다현'")
c.execute("SELECT * FROM examtable")
print(c.fetchall())
#name값이 다현인 데이터를 삭제하고 모두 재출력하여 다현이가 삭제된 것을 확인한다.

[('나연', 1, 95, 95, 91), ('나연', 2099001, 95, 95, 91), ('정연', 2099002, 95, 95, 91), ('모모', 2099003, 100, 95, 91), ('사나', 2099004, 100, 95, 91), ('지효', 2099005, 80, 95, 91), ('미나', 2099006, 100, 95, 91), ('채영', 2099008, 80, 95, 91), ('쯔위', 2099009, 60, 95, 91), ('나연', 20990001, 95, 95, 91)]

In [115]:
con = sqlite3.connect(“db파일명”) #DB연결, 패스까지 써줌 기본은 현 소스파일의 디렉토리
cursor = con.cursor() #데이터베이스사용공간 만듦. 커서를 생성하고 커서를 통해서 명령을 내려야 
#db를 컨트롤 할 수 있게됨

#cursor.execute(“sql문”)~~이부분에 sql쿼리 작성
cursor.close()  #커서를 열었으면 닫아주어 메모리 절약
con.close() #커넥션을 열었으면 닫아주어 메모리 절약

SyntaxError: invalid character in identifier (1287268781.py, line 1)

In [121]:
import sqlite3 as s #sqlite3를 s로 선언
con=s.connect("my01.db") #DB연결, 현 소스파일의 디렉토리
cursor = con.cursor() #데이터베이스 사용공간을 만든다.

In [130]:
#table 삭제
cursor.execute("DROP TABLE examtable")
con.commit()

OperationalError: no such table: examtable

In [134]:
#table 생성
cursor.execute("CREATE TABLE examtable( \
    name varchar(20),\
    studentid int not null primary key,\
    kor int,\
    eng int,\
    mat int) \
    ")

con.commit() #버퍼에 처리된 내용을 기록 commit
cursor.close()#커서를 열었으면 닫아주어 메모리 절약
con.close()#커넥션을 열었으면 닫아주어 메모리 절약

In [135]:
import sqlite3 as s #sqlite3를 s로 선언
con=s.connect("my01.db") #my01.db 와 연결
cursor = con.cursor() #con의 cursor함수를 cursor에 저장하여 다루기 편하게 만듦

#테이블내에 각 키 값에 맞는 데이터들을 넣어준다.
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"나연\", 20990001, 95, 100, 95);") 
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"정연\", 20990002, 90, 90, 85);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"모모\", 20990003, 95, 95, 75);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"사나\", 20990004, 85, 90, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"지효\", 20990005, 100, 90, 85);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"미나\", 20990006, 90, 80, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"다현\", 20990007, 75, 90, 100);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"채영\", 20990008, 95, 70, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"쯔위\", 20990009, 85, 90, 90);")

con.commit() #버퍼에 처리된 내용을 기록 commit
cursor.close() #커서를 열었으면 닫아주어 메모리 절약
con.close()#커넥션을 열었으면 닫아주어 메모리 절약

In [136]:
import sqlite3 as s #sqlite3를 s로 선언
con=s.connect("my01.db") #my01.db 와 연결
cursor = con.cursor() #con의 cursor함수를 cursor에 저장하여 다루기 편하게 만듦
# 테이블의 모든 내용 출력하는 명령 실행
cursor.execute("select * from examtable")

one_rec=cursor.fetchall() #해당 데이터를 전부 가져옴 fetch : 가져오다.

for field in one_rec: #해당 데이터를 반복문을 통해 하나씩 처리
    kor=field[2]
    eng=field[3]
    mat=field[4]
    print("이름:%s 학번:%s 국어:%3d 영어:%3d 수학:%3d 총점:%3d 평균:%3d"%(field[0],field[1],kor,eng,mat,kor+eng+mat,int((kor+eng+mat)/3)))

cursor.close() #커서를 열었으면 닫아주어 메모리 절약
con.close()#커넥션을 열었으면 닫아주어 메모리 절약

이름:나연 학번:20990001 국어: 95 영어:100 수학: 95 총점:290 평균: 96
이름:정연 학번:20990002 국어: 90 영어: 90 수학: 85 총점:265 평균: 88
이름:모모 학번:20990003 국어: 95 영어: 95 수학: 75 총점:265 평균: 88
이름:사나 학번:20990004 국어: 85 영어: 90 수학: 90 총점:265 평균: 88
이름:지효 학번:20990005 국어:100 영어: 90 수학: 85 총점:275 평균: 91
이름:미나 학번:20990006 국어: 90 영어: 80 수학: 90 총점:260 평균: 86
이름:다현 학번:20990007 국어: 75 영어: 90 수학:100 총점:265 평균: 88
이름:채영 학번:20990008 국어: 95 영어: 70 수학: 90 총점:255 평균: 85
이름:쯔위 학번:20990009 국어: 85 영어: 90 수학: 90 총점:265 평균: 88