In [1]:
1+2*3/4 #일반 산술 연산자는 사칙연산 순으로 계산을 한다. 2*3, /4, +1 순으로,

2.5

In [2]:
2**3 #거듭제곱은 **으로 표현한다. 2의3제곱은 8이다.

8

In [3]:
10/3 #3.3333...무한소수에서 표현할 수 있는 자리수 까지만 출력이 됐다.

3.3333333333333335

In [5]:
 1e12*123456789012 #16진수 * 정수의 계산

1.23456789012e+23

In [6]:
a=1+2j #1+2j라는 허수를 변수 a에 대입하여 주었다.

In [7]:
a+(123+12j) #허수 + 허수의 계산을 하였다.

(124+14j)

In [8]:
5/2 #5를 2로 나눈 몫. 실수형 계산이 디폴트.

2.5

In [9]:
5//2 #하지만 정수형 연산자 //를 사용하면 정수형 아웃풋이 나옴.

2

In [10]:
5%2 #5를 2로 나눈 나머지 1

1

In [11]:
a=1;a=a+1;print(a) #a에 1을 대입. 그 a에 1을 더한 즉 누적한, 총 2를 가진 a가 되고, a를 출력.

2

In [12]:
 a=1;a+=1;print(a) #다시 a를 1로 초기화, a에 1을 더한 값이 a라는 표현. a를 출력.

2

In [13]:
a*=2;a #기존 a. 2에 2를 곱한 값을 a에 대입. 즉 현재 a는 4이다. a를 출력.

4

In [14]:
a*=2;a #위 13라인의 식을 한번 더 입력하여 누적한다. 4*2는 8. 8이 출력된다.

8

In [15]:
a=1;a-=1;a #1에 a를 넣고, 다시 -1하여 a는 결국 0이 됨

0

In [16]:
a-=1;a #기존 a에 -1한 값을 a로 저장한다는 뜻. 즉 -1이 된다.

-1

In [17]:
a=1 #a에 1을 대입

In [18]:
a++ # ++ -- 이 표현식은 c나 java에만 있고 파이썬에는 해당되지 않는다. += 1 이나 -= 1 으로 입력해야함.

SyntaxError: invalid syntax (1277751513.py, line 1)

In [19]:
a--  # ++ -- 이 표현식은 c나 java에만 있고 파이썬에는 해당되지 않는다. += 1 이나 -= 1 으로 입력해야함.

SyntaxError: invalid syntax (1562500846.py, line 1)

In [30]:
a=+ 1; a # =+는 우항의 값을 양수로 변수에 저장한다는 뜻이다.

1

In [29]:
a=- 1 ;a # =-는 우항의 값을 음수로 변수에 저장한다는 뜻이다.

-1

In [31]:
a="멍멍이" #변수 a에 문자형 데이터 "멍멍이"를 대입하여 주었다

In [33]:
b="고양이" #변수 b에 문자형 데이터 "고양이"를 대입하여 주었다

In [34]:
a+b #문자형 변수의 덧셈은 문자열을 이어붙이는 것으로 처리된다.

'멍멍이고양이'

In [35]:
a*3+b*2 #문자형 변수의 곱셈또한 문자열을 이어붙이는 것으로 처리된다.

'멍멍이멍멍이멍멍이고양이고양이'

In [36]:
"-"*20 #문자형 변수의 곱셈또한 문자열을 이어붙이는 것으로 처리되므로 "-"가 20번 출력된다.

'--------------------'

In [37]:
a=1 #몇마리인지 표현할 정수를 a에 담아주는데 이때 변수 a도 자료형이 정수형으로 됨,

In [38]:
b="강아지"+a+"마리" #"강아지"와 "마리"는 문자형인데 문자형과 정수형a는 서로 더할 수 없으므로 에러가 뜬다.

TypeError: can only concatenate str (not "int") to str

In [39]:
b="강아지"+str(a)+"마리" #그리하여 str() 타입캐스팅 메소드 안에 a를 파라미터로 넣어주어 정수형을 문자형으로 변환하여 더해줌.

In [40]:
b #문자형 + 문자형 + 문자형 이므로 수식이 에러없이 실행이 된다.

'강아지1마리'

In [41]:
ord("가") #문자형을 다루는 ord()함수는 문자의 내부코드 값을 반환하는 함수이다. 가 의 내부코드는 44032

44032

In [42]:
hex(ord("a")) #ord함수 위에 hex()함수를 덮어 16진수로 변형을 해주어 출력을 한다.

'0x61'

In [43]:
for c in range (ord('a'), ord('z')+1): #파이썬의 for문에서 range()는 어떤 정수를 인자로 주면 그 범위안의 정수들을 만들어
    #준다는 뜻이다.즉 'a'와 'z'가 정수형이 되었고 a부터 z까지(+1없으면 y) 범위를 설정해준 것이다.
    #해당 범위의 수 만큼 변수 c에 적용을 하여 반복을 돌린다.
        print(hex(c),"=",chr(c),", ",end="") #c를 받아 hex()를 씌워 16진수로 표현, chr()을 씌워 캐릭터를 출력.

0x61 = a , 0x62 = b , 0x63 = c , 0x64 = d , 0x65 = e , 0x66 = f , 0x67 = g , 0x68 = h , 0x69 = i , 0x6a = j , 0x6b = k , 0x6c = l , 0x6d = m , 0x6e = n , 0x6f = o , 0x70 = p , 0x71 = q , 0x72 = r , 0x73 = s , 0x74 = t , 0x75 = u , 0x76 = v , 0x77 = w , 0x78 = x , 0x79 = y , 0x7a = z ,

In [44]:
a="123"; a+1 #a는 ""로 싸여있어 문자형인데 여기에 정수형 1을 더하면 서로 자료형이 맞지 않아서 당연 오류발생

TypeError: can only concatenate str (not "int") to str

In [45]:
a="123"; int(a)+1 #이때 문자형을 int()로 묶어 정수형으로 타입캐스팅해주어 123을 만들고 1을 더하여 124를 만들었다.

124

In [46]:
 a=12.3; int(a) #실수형에 int()로 정수형을 씌우면 java에서와 같이 소수점은 버림처리되어 정수형만 출력이 된다.

12

In [47]:
a="12.3";int(a) #a에 "12.3"이라는 문자형을 넣어줬고, int()로 형 변환을 했지만 기존 12.3은 실수이기 때문에 에러 발생.

ValueError: invalid literal for int() with base 10: '12.3'

In [48]:
float(a) #a 12.3 를 실수형 타입캐스팅 float()을 씌워주었기 때문에 실수형으로 문제없이 변환 됨

12.3

In [49]:
a=1.1;1+a+12 # a는 실수형이고, 여기에 정수형 연산을 더해봤자 실수형으로 계산이 됨

14.1

In [51]:
1+int(a)+12 #실수형a를 정수형으로 바꾸면 소수점은 버리게 되고 정수형+정수형+정수형 이므로 14가 출력이 됨.

14

In [52]:
int(3.14) #소수형을 정수형으로 바꾸면 소수점 밑 자리들은 버림처리

3

In [56]:
round(3.14) #소수형을 round()메소드로 반올림하면 .14는 버림이 된다. 그래서 출력값은 3

3

In [57]:
round(3.14,1) #round()메소드로 두번째 인자의 자릿수까지 반올림 한다. 그래서 .04는 버림이 되어 3.1이됨

3.1

In [58]:
round(123456,-4) #그래서 -4는 해당 자리이상에서 반올림 하므로 만의자리.120000이 된다.

120000

In [59]:
a=1234567

In [61]:
if(a%1000 != 0 ) : #1000으로 나누어 나머지가 있다면
    a=int(a/1000)*1000+1000 #버린값에다 한자리를 올려 줌
else:
    a=int(a/1000)*1000

In [62]:
a #a는 1234567이고, 1000으로 나눴을 때 나머지가 있으므로 버린 값에다 한자리를 올려주어 1235000이 되었다.

1235000