In [1]:
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95} #파이썬에서 중괄호로 묶여있으면 세트이다!

In [2]:
a["수학"] #키워드 수학으로 묷인 값을 가져온다.

95

In [3]:
a["이름"] #키워드 이름으로 묷인 값을 가져온다.

'홍길동'

In [4]:
a.keys() #keys()메소드를 통해 키워드의 이름들을 가져올 수 있다

dict_keys(['이름', '국어', '영어', '수학'])

In [5]:
a.values() #values()메소드를 통해 키워드의 값들을 가져올 수 있다

dict_values(['홍길동', 100, 88, 95])

In [6]:
a.items() #items()메소드를 통해 키워드의 아이템들을 가져올 수 있다

dict_items([('이름', '홍길동'), ('국어', 100), ('영어', 88), ('수학', 95)])

In [8]:
for i in a.items(): #아이템을 가져오는 메소드를 통해 각각의 메소드를 반복문으로 프린트할 수 있다.
    print (i,end=",")

('이름', '홍길동'),('국어', 100),('영어', 88),('수학', 95),

In [10]:
for i in a.keys(): #키를 가져오는 메소드를 통해 각각의 메소드를 반복문으로 프린트할 수 있다.
    print (i,end=",")

이름,국어,영어,수학,

In [11]:
for i in a.values(): #값들을 가져오는 메소드를 통해 각각의 메소드를 반복문으로 프린트할 수 있다.
    print (i,end=",")

홍길동,100,88,95,

In [12]:
print(a.get("과학"))

None

In [13]:
print(a.get("과학","없는과목입니다"))

없는과목입니다

In [14]:
print(a.get("수학","없는과목입니다"))

95

In [15]:
text="""안녕하셔요. 오늘은 날씨가 매우 화창합니다.
그래서 기분이 매우 좋네요
너도 기분이 좋은가요 랄라랄랄라라라라라라 abc임마"""

a=dict() #딕셔너리 자료형을 정의할 때에는 dicr()
for c in text: #위 텍스트를 한개한개씩 추출하여 변수 c에 담고 아래 코드에 적용
    if c not in a: # 변수 c에 담긴 값이 a딕셔너리 안에 없으면(not in)
        a[c]=1 #최초 1값으로 설정
    else: #이 경우는 해당 추출글자의 딕셔너리가 있다는 경우
        a[c] +=1 #중복 횟수만큼 더하기
print(a)

{'안': 1, '녕': 1, '하': 1, '셔': 1, '요': 3, '.': 2, ' ': 11, '오': 1, '늘': 1, '은': 2, '날': 1, '씨': 1, '가': 2, '매': 2, '우': 2, '화': 1, '창': 1, '합': 1, '니': 1, '다': 1, '\n': 2, '그': 1, '래': 1, '서': 1, '기': 2, '분': 2, '이': 2, '좋': 2, '네': 1, '너': 1, '도': 1, '랄': 3, '라': 7, 'a': 1, 'b': 1, 'c': 1, '임': 1, '마': 1}

In [17]:
b=dict() #딕셔너리 자료형을 정의할 때에는 dicr()
l=list(a.keys()) #앞에 딕셔너리의 키를 뽑아와서 그 키들로 리스트를 만든다.
l.sort() #방금 만든 리스트를 소트한다.
for c in l: #리스트의 각 요소에 변수로 대입하여 
    b[c]=a[c] # 새로운 딕셔너리는 키값 순서대로 (소트 되어 있으니) 다시 만듦
print(b)

{'\n': 2, ' ': 11, '.': 2, 'a': 1, 'b': 1, 'c': 1, '가': 2, '그': 1, '기': 2, '날': 1, '너': 1, '네': 1, '녕': 1, '늘': 1, '니': 1, '다': 1, '도': 1, '라': 7, '랄': 3, '래': 1, '마': 1, '매': 2, '분': 2, '서': 1, '셔': 1, '씨': 1, '안': 1, '오': 1, '요': 3, '우': 2, '은': 2, '이': 2, '임': 1, '좋': 2, '창': 1, '하': 1, '합': 1, '화': 1}

In [18]:
a={1,2,2,2,2,3,3,3,4,5} #집합은 중괄호로 요소들이 묶여있는 데이터이다.

In [19]:
a #집합은 hashset처럼 중복을 받지 않는다! 그리고 오름차순으로 정리해준다!!

{1, 2, 3, 4, 5}

In [20]:
set(("a",1,2)) #세트 함수로 집합(세트)를 만들 수도 있다. 인자들을 받은걸로.

{1, 2, 'a'}

In [21]:
set("a") #한개만 해도 생김

{'a'}

In [23]:
 set({"이름":"홍길동", "국어":100, 
"영어":88, "수학": 95}) #딕셔너리 타입은 키만 집합으로 변환된다.

{'국어', '수학', '영어', '이름'}

In [24]:
a={1,2,3,4,5} #집합은 중괄호로 요소들이 묶여있는 데이터이다.

In [25]:
a

{1, 2, 3, 4, 5}

In [26]:
a.add(0) #집합에 add를 넣어주어 값을 추가. 하지만 소트 되므로 순서는 알아서 정해짐

In [27]:
a

{0, 1, 2, 3, 4, 5}

In [28]:
a.add(2.4) #2.4를 추가해봄

In [29]:
a

{0, 1, 2, 2.4, 3, 4, 5}

In [30]:
a.remove(3) #3을 지워봄

In [31]:
a

{0, 1, 2, 2.4, 4, 5}

In [32]:
A={1,2,3,4,5,6,7} #집합(세트) 정의를 해준다.

In [41]:
B={7,8,9,10}

In [42]:
A|B #집합 연산의 합집합 (중복은 받지 않는다 집합엔 중복이 없다@!)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [43]:
A&B #집합의 교집합

{7}

In [40]:
A-B #차집합 구하기

{2, 3, 4, 5, 6}

In [50]:
{1,2,3} < {1,2} #집합의 크기를 비교한다. 3<2는 false

False

In [45]:
{1,2,3} > {1,2} #3>2는 true

True

In [46]:
{1,2,3} >= {1,2} #3>=2 true

True

In [47]:
{1,2,3} == {1,2} #3 == 2 false

False

In [48]:
{1,2,3} >= {3,1,2} #3>=3 True

True

In [49]:
{1,2,3} == {3,1,2} #3==3 True

True

In [51]:
a=["a","b","c","d","e"] #대괄호로 묶여있으면 리스트

In [52]:
b={} #중괄호로 묶여있으면 집합(세트)

In [53]:
for i in range (len(a)): #리스트의 인덱스에 하나씩 접근하여 b집합에 담는다. 이때 대괄호에 담으면
    #딕셔너리로 키워드는 0부터 자동으로 매겨져 저장된다.
    b[i]=a[i]

In [54]:
b

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [55]:
a=["a","b","c","d","e"] #a리스트에 각 요소들을 담는다.

In [56]:
b=enumerate(a) #enumerate()는 인덱스0 부터 차례로 대입해준다.

In [57]:
b #아직은 형변환이 되지 않았기 때문에 이러한 데이터가 나온다.

In [58]:
b=dict(enumerate(a)); c=list(enumerate(a)) #딕셔너리와 리스트에 담아서 형변환을 해준다.

In [59]:
b #딕셔너리에 담았음

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [60]:
c #리스트에 담았음

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [61]:
a={1,2,3,4,5,6,7,8} #집합a에 해당 요소들을 담는다.

In [62]:
b={"a","b","c","d","e"} #집합b에 해당 요소들을 담는다.

In [63]:
zip(a,b) #zip만으로는 단순히 object임 이것도 현재 형변환을 안해준 날 데이터다

In [64]:
c=dict(zip(a,b));d=list(zip(a,b)) #zip은 두 (리스트 튜플 집합 중)인자를 받아 요소를 매칭시켜준다.

In [65]:
 c #a와 b는 크기가 다르기 때문에 b값은 순서대로가 아니였다.!

{1: 'c', 2: 'a', 3: 'd', 4: 'e', 5: 'b'}

In [66]:
d

[(1, 'c'), (2, 'a'), (3, 'd'), (4, 'e'), (5, 'b')]

In [67]:
a=(1,2,3,4,5,6,7,8) #튜플a

In [68]:
b=["a","b","c","d","e"] #리스트 b

In [69]:
c=dict(zip(a,b));d=list(zip(a,b))

In [70]:
c

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [71]:
d

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]