In [1]:
a=[1,2,3,4,5] #마치 java배열처럼. 중괄호는 대괄호로 리스트를 만든다!

In [2]:
a[0],a[1],a[2],a[3],a[4] #리스트의 인덱스에 접근해 값을 얻는다.

(1, 2, 3, 4, 5)

In [3]:
a=[11,"abc",12.3333,"안녕",2+3j] #각 리스트에는 여러 형태의 자료형을 저장 가능.

In [6]:
a[0],a[1],a[2],a[3],a[4] #리스트의 인덱스에 접근해 값을 얻는다.

(11, 'abc', 12.3333, '안녕', (2+3j))

In [7]:
a[1]=1234; a[4]="홍길동"#위에 지정했던 리스트의 값에 특정 인덱스 값을 재지정하기

In [8]:
a #리스트 이름만 호출해도 내용이 출력이 된다.

[11, 1234, 12.3333, '안녕', '홍길동']

In [9]:
score=[90,80,70,60,30] #score리스트 데이터 세팅하기
sum=0 #합계 담을 변수 0으로 초기화
for s in score: #리스트를 바운더리로, 변수 s를 넣어 반복.
    print("점수(",s,")")
    sum+=s #sum에 누적합산
print("총점:",sum);

점수( 90 )
점수( 80 )
점수( 70 )
점수( 60 )
점수( 30 )
총점: 330

In [10]:
a=[1,2,3,4,5] #리스트의 순서는 역방향으로 -n ~ -1로 지정할 수도 있다.

In [11]:
a[0],a[-5]

(1, 1)

In [12]:
a[1],a[-4]

(2, 2)

In [13]:
a[2],a[-3]

(3, 3)

In [14]:
a[3],a[-2]

(4, 4)

In [15]:
a[4],a[-1]

(5, 5)

In [16]:
[begin:end:step]

SyntaxError: invalid syntax (3139380504.py, line 1)

In [17]:
a=[1,2,3,4,5,6,7,8,9,10]

In [18]:
a[2:8] # 2부터 8보다 작을 때까지(2,3,4,5,6,7)

[3, 4, 5, 6, 7, 8]

In [19]:
a[:4] #처음부터 4보다 작을 때까지(0,1,2,3 주의 a[4]제외)

[1, 2, 3, 4]

In [20]:
a[5:] #5부터 끝까지

[6, 7, 8, 9, 10]

In [21]:
a[0:6:3] #0부터 6보다 작을때 까지(6은 제외 0,3) 3씩 증가하여

[1, 4]

In [22]:
a=[[1,2,3],[4,5,6],[7,8,9]] # 리스트로 구성된 리스트

In [23]:
a[2]

[7, 8, 9]

In [24]:
a[2][2]

9

In [25]:
a[1][3] #인덱스 아웃오브 레인지

IndexError: list index out of range

In [26]:
a[1][2]

6

In [27]:
a=[[1,2],[3,4,5],6] # 가변 형태의 리스트 #리스트 안에 리스트도 가능하다.

In [28]:
a

[[1, 2], [3, 4, 5], 6]

In [29]:
a[2]

6

In [30]:
a[1]

[3, 4, 5]

In [31]:
a=[ n * 3 for n in range (1,10)] #리스트의 요소들을 반복문 식을 넣어서 리턴 값들을 요소로 정해도O

In [32]:
a

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [33]:
a=[ n * 3 for n in range (1,10) if n % 2 ==0 ]#range안의 n중 if문 충족하는 n들에 3을 곱한 값

In [34]:
a

[6, 12, 18, 24]

In [35]:
def titleprint(): # 상단 부분 출력 구간
    print("="*50) #구분선 출력
    print("이름\t국어\t영어\t수학\t총점\t평균") #이름 및 과목 총점 평균 칸 생성
    print("="*50) #구분선 출력
    
def itemprint(name,kor,eng,mat): # 성적 입력하는 함수
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)

def tailprint(): #합산 부분 출력
    totkor=0 #국어합 지정할 변수 선언
    toteng=0 #영어합 지정할 변수 선언
    totmat=0 #수학합 지정할 변수 선언
    for one_student in score: #성적 배열의 각 과목 값을 더한다
        totkor+=one_student[kor]
        toteng+=one_student[eng]
        totmat+=one_student[mat]
    print("="*50) #구분선 출력
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"\
        ,(totkor+toteng+totmat),"\t",(totkor+toteng+totmat)/3//9) #이름 성적 총합 평균 출력
    print("="*50) #구분선

#데이터 입력, 2차원 배열 사용
score=[["나연",100,90,100],
    ["정연",90,90,100],
    ["모모",80,70,90],
    ["사나",90,90,80],
    ["지효",100,80,80],
    ["미나",50,90,90],
    ["다현",80,60,100],
    ["채영",70,80,90],
    ["쯔위",100,90,90]]

#상수 정의, 배열에서의 성적 위치
name=0;kor=1;eng=2;mat=3

#프로그램 부분
titleprint() #제목을 출력하는 함수 실행
for one_student in score: #리스트의 값을 넣어가며 성적 출력
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])
tailprint() #합계 부분 출력

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 90 	 90 	 100 	 280 	 93
모모 	 80 	 70 	 90 	 240 	 80
사나 	 90 	 90 	 80 	 260 	 86
지효 	 100 	 80 	 80 	 260 	 86
미나 	 50 	 90 	 90 	 230 	 76
다현 	 80 	 60 	 100 	 240 	 80
채영 	 70 	 80 	 90 	 240 	 80
쯔위 	 100 	 90 	 90 	 280 	 93
==================================================
반총점	 760 	 740 	 820 	 2320 	 85.0
==================================================

In [50]:
a=[1,2,3,4,5]

In [51]:
a

[1, 2, 3, 4, 5]

In [52]:
del a[2] #2번 리스트요소 삭제

In [53]:
a

[1, 2, 4, 5]

In [54]:
del a[2]

In [55]:
a

[1, 2, 5]

In [56]:
a.clear() #리스트 전부 지움

In [57]:
a #빈 리스트는 남아있음

[]

In [58]:
del a #a공간도 지움

In [59]:
a #a는 지워졌으므로 이제 남아있지 않는다.

NameError: name 'a' is not defined

In [61]:
a=[1,2,3,4,5]

In [62]:
del a #del a를 통해 a를 완전히 지웠다.

In [63]:
a.append(1) #리스트가 정의되어 있지 않기 때문에 추가할 수 없다.

NameError: name 'a' is not defined

In [65]:
a=[] #빈 리스트를 정의

In [66]:
a.append(1) #1값의 리스트요소를 추가

In [67]:
a.append(3) #3추가

In [68]:
a.append(5) #5추가

In [70]:
a #a확인

[1, 3, 5]

In [77]:
a=[4,5,6] #기존 a를 무시하고 다시 정의

In [78]:
a.append(10) #10추가

In [79]:
a #a확인

[4, 5, 6, 10]

In [80]:
a=[1,2,3,4,5]

In [81]:
a.append(6) #append는 맨 뒤에 하나의 요소를 삽입

In [82]:
a

[1, 2, 3, 4, 5, 6]

In [83]:
a.insert(3,12) #인덱스 3번째 자리에 값 12를 추가한다.

In [84]:
a

[1, 2, 3, 12, 4, 5, 6]

In [85]:
a.insert(4,15) #인덱스 4번째 자리에 값 15를 추가한다.

In [86]:
a

[1, 2, 3, 12, 15, 4, 5, 6]

In [87]:
a.insert(3,1) #인덱스 3번째 자리에 값 1를 추가한다.

In [88]:
a

[1, 2, 3, 1, 12, 15, 4, 5, 6]

In [89]:
a=[1, 2, 3, 1, 12, 15, 4, 5, 6] #컬렉션 a 설정

In [90]:
a[5:5]=[1,2,3,4,5,6] #5에서 5까지 영역에 해당 리스트 값을 대입

In [91]:
a #a 확인

[1, 2, 3, 1, 12, 1, 2, 3, 4, 5, 6, 15, 4, 5, 6]

In [92]:
a=[1, 2, 3, 1, 12, 15, 4, 5, 6] #컬렉션 a 설정

In [93]:
a[5]=[1,2,3,4,5,6] #5요소에 이 리스트를 대입(큰 차이)

In [94]:
a #a 확인

[1, 2, 3, 1, 12, [1, 2, 3, 4, 5, 6], 4, 5, 6]

In [95]:
a=[1,2,3] #컬렉션 a 설정

In [96]:
b=[4,5,6] #컬렉션 b 설정

In [97]:
a=a+b #컬렉션 a와 b를 더해서 a에 저장

In [98]:
a #a확인

[1, 2, 3, 4, 5, 6]

In [99]:
a=[1,2,3]

In [100]:
b=[4,5,6]

In [101]:
a.extend(b) #컬렉션 a와 b를 더해서 a에 저장한다는 extend메소드

In [102]:
a

[1, 2, 3, 4, 5, 6]

In [103]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]

In [104]:
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]

In [105]:
a.remove(7) #첫 번째 만나는 7값을 가진 리스트 삭제

In [106]:
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 8]

In [107]:
a.remove(7) #첫 번째 만나는 7값을 가진 리스트 삭제

In [108]:
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 8]

In [109]:
a[5]=[] #다섯 번째에 빈 값[]이 들어 있는 리스트를 만듬(주의: a[5:5]=[]라고 해야 함) 5부터 5까지

In [110]:
a

[1, 2, 3, 3, 4, [], 5, 6, 7, 7, 8]

In [111]:
del(a[4])

In [112]:
a

[1, 2, 3, 3, [], 5, 6, 7, 7, 8]

In [113]:
a.clear() #다 지우나 빈 값에 리스트가 남음

In [114]:
a

[]

In [115]:
del(a) #리스트 정의까지 삭제

In [116]:
a

NameError: name 'a' is not defined

In [117]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]

In [118]:
a.pop() #pop메소드로 마지막 값을 뽑음

8

In [119]:
a #뽑아서 안에 내용은 이제 없다

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7]

In [120]:
a.pop()

7

In [125]:
a.pop(3) #인자로 컬렉션의 해당 인덱스 값을 뽑음

4

In [126]:
a

[1, 2, 3, 4, 5, 7, 7, 7]

In [127]:
a.pop(6)

7

In [128]:
a

[1, 2, 3, 4, 5, 7, 7]

In [129]:
a.pop(0)

1

In [130]:
a

[2, 3, 4, 5, 7, 7]

In [131]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]

In [132]:
a.index(7)

8

In [133]:
a.index(8) #값 8의 위치는 12(0부터 시작)

12

In [134]:
a.index(4) #값 4의 위치는 4(0부터 시작)

4

In [135]:
a.count(7) #7은 4번 나옴

4

In [136]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]

In [143]:
print(min(a),max(a),len(a)) #리스트 중 최소 최대 크기의 값을 구함.

1 8 13

In [144]:
a=[1,8,5,6,2,4,5,2,6,9,4]

In [145]:
a.reverse() #리스트의 내용을 역으로 보여준다. 내림차순이 아님!

In [146]:
a

[4, 9, 6, 2, 5, 4, 2, 6, 5, 8, 1]

In [147]:
a.sort() #리스트의 값을 오름차순으로 설정한다!

In [155]:
a

[1, 2, 2, 4, 4, 5, 5, 6, 6, 8, 9]

In [162]:
import random as r

def titleprint(): #pass였던 함수를 채워넣는다
    print("="*50) #첫라인 줄 긋기
    print("이름\t국어\t영어\t수학\t총점\t평균") #첫 둘째 라인의 항목 이름 나열하기
    print("="*50) #줄 긋기

def itemprint(name,kor,eng,mat): #4가지 인수를 받는 함수. 자료형은 설정하지 않다도 된다.
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)

def tailprint(): #마지막 라인 반 총점을 구하는 함수
    totkor=0 #반 총점을 0으로 초기화해놓기 
    for i in ckor: #컬렉션 kor을 순서대로 도는 변수 i값.
        totkor+=i #+1해주며 누적하기 때문에 컬렉션을 훑는다.
    toteng=0
    for i in ceng: #kor과 동일
        toteng+=i
    totmat=0
    for i in cmat: #kor과 동일
        totmat+=i
    print("="*50) 
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t",(totkor+toteng+totmat)//9,"\t",(totkor+toteng+totmat)/3//9)
    #반총점을 구하는 것. 해당 인덱스의 라인들을 모두 더하고, //는 실수형 자료형의 몫
    print("="*50)
    

#데이터 설정하기
cname=[]
ckor =[]
ceng =[]
cmat =[]
score = []

for i in range(9):
    cname.append("name"+str(i)) #이름
    ckor.append(r.randrange(10,100)) #국어 10부터 100까지 임의에 값을 추출
    ceng.append(r.randrange(10,100)) #영어
    cmat.append(r.randrange(10,100)) #수학
    score.append(one_person[:]) #값을 복사해서 추가함에 주의할 것
    one_person.clear()


#프로그램을 보기 좋게 하려고 상수를 정의
name=0;kor=1;eng=2;mat=3

#여기부터 메인함수
titleprint()
for i in range(9):
    itemprint(cname[i],ckor[i],ceng[i],cmat[i]) #아이템프린트 함수에 각 컬렉션 인덱스를 차례로 대입
tailprint()

==================================================
이름	국어	영어	수학	총점	평균
==================================================
name0 	 92 	 30 	 69 	 191 	 63
name1 	 44 	 70 	 40 	 154 	 51
name2 	 96 	 60 	 32 	 188 	 62
name3 	 88 	 65 	 40 	 193 	 64
name4 	 84 	 98 	 17 	 199 	 66
name5 	 39 	 20 	 15 	 74 	 24
name6 	 80 	 11 	 99 	 190 	 63
name7 	 71 	 61 	 87 	 219 	 73
name8 	 87 	 23 	 56 	 166 	 55
==================================================
반총점	 681 	 438 	 455 	 174 	 58.0
==================================================

In [166]:
a=(1,8,5,6,2,4,5,2,6,9,4) #괄호로 묶이면 튜플이다. 튜플은 값을 변경할 수 없다. 마치 final

In [167]:
a

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [168]:
a[5] #값을 조회할 수는 있다.

4

In [169]:
a[3:5] #3번째인덱스~ 5번째 인덱스 앞까지. 마치 섭스트링

(6, 2)

In [173]:
a[3:8] #3번째인덱스~ 8번째 인덱스 앞까지. 마치 섭스트링

(6, 2, 4, 5, 2)

In [174]:
a*2 #값을 곱빼기하여 이어붙일 수도 있다.

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [175]:
a

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [176]:
a[1]=5 #값 변경불가

TypeError: 'tuple' object does not support item assignment

In [177]:
del a[4] #변수 지우기 불가

TypeError: 'tuple' object doesn't support item deletion

In [178]:
a.append(10) #값 추가하기 불가

AttributeError: 'tuple' object has no attribute 'append'

In [180]:
def location():
    latitude = 2, 17403 # 위도
    longitude=41,40338 #경도
    return latitude,longitude #이런방식의 리턴은 튜플로 반환
a=location()
print(a)

((2, 17403), (41, 40338))